main
 
  //第一個畫面
  .view
    .dialog.fz-24.lh-12.dialog-1
      p.shadow-block 羨慕別人的酷酷網頁動畫
      p.shadow-block 滿足不了同事的許願
      p.shadow-block 動畫技能樹太雜無從下手
    .fight
      .img-container
        .img-box
          img(src="./assets/img/ghost-1200x1200.png", alt="alt")
      .img-container
        .img-box
          img(src="./assets/img/ghost-1200x1200.png", alt="alt")
      .img-container
        .img-box
          img(src="./assets/img/ghost-1200x1200.png", alt="alt")
      .img-container
        .img-box
          img(src="./assets/img/chi-1200x1200.png", alt="alt")
      .img-container
        .img-box
          img(src="./assets/img/chi-1200x1200.png", alt="alt")
      .dialog.fz-24.lh-12.dialog-2
        p.shadow-block UI DESIGNER
        p.shadow-block FRONT-END DEVELOPER
    .option-block.lh-12
      .question
        p.fz-64 挑戰者
        p.fz-64 要做什麼呢？
      .answer
        ul.fz-48
          li.active 攜手合作
          li 耍廢
          li 裝沒看到
          li 逃跑
