doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title F2E 2022 by Sean
    link(rel="stylesheet", href=`./style.css`)
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Noto+Serif+TC:wght@500&display=swap' rel='stylesheet')

  body 
    // 導覽列
    block navbar
      include ./layouts/_navbar.pug

    //主選單
    block menu
      include ./layouts/_menu.pug
      
    // 主要內容
    block content
      include ./_main.pug

    // 頁腳
    block footer
      include ./layouts/_footer.pug

  script(defer src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous")
  script(defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js")
  script(defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js")
  script(defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/TextPlugin.min.js")
  script(defer src="./app.js")