@charset "UTF-8";
body {
  font-family: "Cinzel", "Noto Serif TC", serif;
}

h1 {
  opacity: 0;
  position: absolute;
}

.lh-12 {
  line-height: 1.2;
  letter-spacing: 0.8px;
}

.fz-160 {
  font-size: max(8.3vw, 5rem);
}

.fz-64 {
  font-size: max(3.3vw, 2rem);
}

.fz-56 {
  font-size: max(2.9vw, 1.75rem);
}

.fz-48 {
  font-size: 3rem;
}

.fz-32 {
  font-size: 2rem;
}

.fz-24 {
  font-size: 1.5rem;
}

.menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #242424;
}
.menu .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 320px;
}
.menu .loading > p {
  text-align: center;
  color: #e3e3e3;
}
.menu .loading > span {
  margin-top: 15px;
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  background: #e3e3e3;
}
.menu .loading > span::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  height: 30px;
  background: #242424;
  -webkit-transition: width 1s;
  transition: width 1s;
  -webkit-animation: loading 3s ease-in-out;
          animation: loading 3s ease-in-out;
}
@-webkit-keyframes loading {
  0% {
    width: calc(100% - 20px);
  }
  100% {
    width: 0;
  }
}
@keyframes loading {
  0% {
    width: calc(100% - 20px);
  }
  100% {
    width: 0;
  }
}
.menu .content {
  margin: 100px auto 0 auto;
  width: 100%;
  max-width: 800px;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}
.menu .menu-title {
  position: relative;
  padding-top: 80px;
}
.menu .menu-title > p {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
  color: #844AE1;
}
.menu .menu-title > p::before {
  position: absolute;
  top: 3px;
  left: 2px;
  z-index: -1;
  width: 100%;
  text-align: center;
  display: inline-block;
  color: #5ab;
}
.menu .menu-title > p:first-child {
  position: absolute;
  right: 0;
  top: 0;
  width: 125px;
}
.menu .menu-title > p:first-child::before {
  content: "4th";
  width: 125px;
}
.menu .menu-title > p:nth-child(2)::before {
  content: "THE F2E";
}
.menu .menu-title > p:last-child::before {
  content: "互動式網頁設計";
}
.menu .menu-option {
  margin: 100px auto 0 auto;
  width: 100%;
  max-width: 200px;
  color: #e3e3e3;
}
.menu .menu-option > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.menu .menu-option > a::before {
  content: "";
  margin-right: 25px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 0 12.5px 21.7px;
  border-color: transparent transparent transparent #e3e3e3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-animation: blink 3s ease-in-out infinite;
          animation: blink 3s ease-in-out infinite;
}
@-webkit-keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.menu .menu-option > a.active::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu .menu-option > a:not(:first-child) {
  margin-top: 25px;
}
.menu .mouse {
  margin: 85px auto 0 auto;
  width: 40px;
  cursor: pointer;
}
.menu .mouse > span {
  display: block;
  position: relative;
}
.menu .mouse > span:first-child {
  width: 100%;
  height: 65px;
  border: 2px solid rgba(227, 227, 227, 0.6);
  border-radius: 25px;
}
.menu .mouse > span:first-child::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(227, 227, 227, 0.6);
  width: 2px;
  height: 20px;
}
.menu .mouse > span:last-child {
  margin: 30px auto 0 auto;
  width: 2px;
  height: 40px;
  background: rgba(227, 227, 227, 0.6);
  -webkit-animation: arrow 2s ease-in-out infinite;
          animation: arrow 2s ease-in-out infinite;
}
@-webkit-keyframes arrow {
  0%, 50%, 100% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  25%, 75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes arrow {
  0%, 50%, 100% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  25%, 75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.menu .mouse > span:last-child::before, .menu .mouse > span:last-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 15px;
  background: rgba(227, 227, 227, 0.6);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.menu .mouse > span:last-child::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=_menu.css.map */