footer
  .view.footer-view
    //動畫尚未進場
    .photo-block
      .god-img
        .img-box
          img(src="./assets/img/god-01-400x400.jpg", alt="")
      .god-img
        .img-box
          img(src="./assets/img/god-02-400x400.jpg", alt="")
      .god-img
        .img-box
          img(src="./assets/img/god-03-400x400.jpg", alt="")
      .god-img
        .img-box
          img(src="./assets/img/god-04-400x400.jpg", alt="")

    //動畫進場
    .sponsor
      .title.fz-48.lh-12
        span 鑽石級
        span 贊助商
      .sponsor-photo
        a(href="javascript:;").shadow-block.sponsor-img
          .img-box
            img(src="./assets/img/sponsor-03-120x120.jpg", alt="")
        a(href="javascript:;").shadow-block.sponsor-img
          .img-box
            img(src="./assets/img/sponsor-02-120x120.jpg", alt="")
        a(href="javascript:;").shadow-block.sponsor-img
          .img-box
            img(src="./assets/img/sponsor-01-120x120.jpg", alt="")
      a(href="javascript:;").job-apply.shadow-block
        span
        p.fz-24.lh-12 求職專區

    .option-block.option-block-3.lh-12.fz-48
      .share
        p 各界大神接力分享
        p 11/3~11/24 每週四線上直播
        p 免費公開場
      .wrap.left-wrap.shadow-block
        p 挑戰者數量：1199
      .wrap.right-wrap.shadow-block
        span 個人組：1093
        span 團體組：41
    
