
<section class="menu">
  <div class="loading">
    <p class="fz-32">LOADING</p><span></span>
  </div>
  <div class="content"> 
    <div class="menu-title">
      <p class="lh-12 fz-64">4th</p>
      <p class="lh-12 fz-160">THE F2E</p>
      <p class="lh-12 fz-56">互動式網頁設計</p>
    </div>
    <div class="menu-option"><a class="fz-24 active" href="javascript:;">六角學院</a><a class="fz-24" href="javascript:;">UI DESIGN</a><a class="fz-24" href="javascript:;">FRONTEND</a></div>
    <div class="mouse"><span> </span><span></span></div>
  </div>
</section>