.menu
  .loading
    p.fz-32 LOADING
    span
  .content 
    .menu-title
      p.lh-12.fz-64 4th
      p.lh-12.fz-160 THE F2E
      p.lh-12.fz-56 互動式網頁設計
    .menu-option
      p.fz-24.active 六角學院
      p.fz-24 UI DESIGN
      p.fz-24 FRONTEND