.menu
  .loading
    p.fz-32 LOADING
    span
  .content 
    .menu-title
      p.lh-12.fz-64 4th
      p.lh-12.fz-160 THE F2E
      p.lh-12.fz-56 互動式網頁設計
    .menu-option
      a(href="javascript:;").fz-24.active 六角學院
      a(href="javascript:;").fz-24 UI DESIGN
      a(href="javascript:;").fz-24 FRONTEND