
<nav>
  <div class="nav-left"><a class="fz-56 logo" href="index.html">THE F2E</a><a class="fz-24" href="javascript:;">關卡資訊</a><a class="fz-24" href="javascript:;">求職專區</a><a class="fz-24" href="javascript:;">Q&A</a></div>
  <div class="nav-right">
    <div class="un-log">
      <div class="img-container"><span>Sign Up </span>
        <div class="img-box"><img src="./assets/img/btn-green-160x70.png" alt="alt"/></div>
      </div>
      <div class="img-container"><span>Log In</span>
        <div class="img-box"><img src="./assets/img/btn-red-160x70.png" alt="alt"/></div>
      </div>
    </div>
    <div class="logged-in">
      <div class="img-container">
        <div class="img-box"><img src="./assets/img/profile-70x70.jpg" alt="alt"/></div>
      </div>
      <p class="fz-24">Sean</p><span> </span>
    </div>
  </div>
</nav>