nav

  //導覽列左側
  .nav-left
    a(href="index.html").fz-56.logo THE F2E
    a(href="javascript:;").fz-24 關卡資訊
    a(href="javascript:;").fz-24 求職專區
    a(href="javascript:;").fz-24 Q&A

  //導覽列右側(可點擊)
  .nav-right
    .un-log
      .img-container
        span Sign Up 
        .img-box
          img(src="./assets/img/btn-green-160x70.png", alt="alt")
      .img-container
        span Log In
        .img-box
          img(src="./assets/img/btn-red-160x70.png", alt="alt")
    .logged-in
      .img-container
        .img-box
          img(src="./assets/img/profile-70x70.jpg", alt="alt")
      p.fz-24 Sean
      span 
