@import ./variable
@import ./mixin
@import ./font
  
.menu
  position: absolute
  width: 100%
  height: 100vh
  background: $black
  .loading
    +posCenter
    width: 100%
    max-width: 320px
    >p
      text-align: center
      color: $white
    >span
      margin-top: 15px
      position: relative
      display: block
      width: 100%
      height: 40px
      background: $white
      &::before
        content: ''
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 10px
        height: 30px
        background: $black
        transition: width 1s
        animation: loading 3s ease-in-out
        @keyframes loading
          0%
            width: calc(100% - 20px)
          100%
            width: 0
  .content
    margin: 100px auto 0 auto
    width: 100%
    max-width: 800px
    transform: translateY(-150%)
    transition: transform 2s ease-in-out
    &.show
      transform: translateY(0)

  .menu-title
    position: relative
    padding-top: 80px
    >p
      position: relative
      z-index: 1
      width: 100%
      text-align: center
      color: $purple
      &::before
        position: absolute
        top: 3px
        left: 2px
        z-index: -1
        width: 100%
        text-align: center
        display: inline-block
        color: $green
      &:first-child
        position: absolute
        right: 0
        top: 0
        width: 125px
        &::before
          content: '4th'
          width: 125px
      &:nth-child(2)
        &::before
          content: 'THE F2E'
      &:last-child
        &::before
          content: '互動式網頁設計'
  .menu-option
    margin: 100px auto 0 auto
    width: 100%
    max-width: 200px
    color: $white
    >a
      display: flex
      align-items: center
      cursor: pointer
      overflow: hidden
      &::before
        content: ''
        margin-right: 25px
        display: inline-block
        width: 0
        height: 0
        border-style: solid
        border-width: 12.5px 0 12.5px 21.7px
        border-color: transparent transparent transparent $white
        transform: translateX(-100%)
        transition: transform .6s
        animation: blink 3s ease-in-out infinite
        @keyframes blink
          0%,50%,100%
            opacity: 1
          25%,75%
            opacity: 0
      &.active
        &::before
          transform: translateX(0)
    >a:not(:first-child)
      margin-top: 25px
  .mouse
    margin: 85px auto 0 auto
    width: 40px
    cursor: pointer
    >span
      display: block
      position: relative
      &:first-child
        width: 100%
        height: 65px
        border: 2px solid rgba($white, .6)
        border-radius: 25px
        &::before
          content: ''
          position: absolute
          top: 10px
          left: 50%
          transform: translateX(-50%)
          background: rgba($white, .6)
          width: 2px
          height: 20px
      &:last-child
        margin: 30px auto 0 auto
        width: 2px
        height: 40px
        background: rgba($white, .6)
        animation: arrow 2s ease-in-out infinite
        @keyframes arrow
          0%, 50%, 100%
            transform: translateY(80%)
          25%, 75%
            transform: translateY(0)
        &::before, &::after
          content: ''
          position: absolute
          bottom: 0
          left: 0
          width: 2px
          height: 15px
          background: rgba($white, .6)
          transform: rotate(45deg)
          transform-origin: bottom
        &::before
          transform: rotate(-45deg)
