body
  font-family: 'Cinzel','Noto Serif TC', serif

.lh-12
  line-height: 1.2
  letter-spacing: 0.8px
.fz-160
  font-size: max(8.3vw, px(80))
.fz-64
  font-size: max(3.3vw, px(32))
.fz-56
  font-size: max(2.9vw, px(28))
.fz-32
  font-size: px(32)
.fz-24
  font-size: px(24)